@font-face {
  font-family: "iconfont"; /* Project id 4020900 */
  src: url('iconfont.woff2?t=1718956636820') format('woff2'),
       url('iconfont.woff?t=1718956636820') format('woff'),
       url('iconfont.ttf?t=1718956636820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongguanli:before {
  content: "\e616";
}

.icon-tongji:before {
  content: "\e626";
}

.icon-gonggongzujian:before {
  content: "\e6a4";
}

.icon-mobang:before {
  content: "\e621";
}

.icon-tuichu:before {
  content: "\e603";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-gengduo:before {
  content: "\e8c4";
}

.icon-xiaoxi:before {
  content: "\e650";
}

.icon-zyqiehuan:before {
  content: "\e739";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-jiaoseliebiao:before {
  content: "\e610";
}

.icon-caidan:before {
  content: "\e866";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-quanping:before {
  content: "\e66a";
}

.icon-reset:before {
  content: "\e613";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-quxiaoquanping:before {
  content: "\e768";
}

